<h4>Direcciones bloqueadas</h4>
</hr>
<a href = "{% url 'main_direccion' %}">Volver a la lista de direcciones</a>
<br/><br/>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="margin-top:10px;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<hr/>
<table border="1">
    <thead>
            <th>Nombre de la Dirección</th>
            <th>Encargado de Dirección</th>
            <th>Estado</th>
            <th>Acciones</th>
    </thead>
    {% for direccion in direccion_bloqueada_listado %}
        <tr>
            <td>{{ direccion.nombre_direccion }}</td>
            <td>{{ direccion.encargado }}</td>
            <td>{{ direccion.state }}</td>
            <td>
                <a href="{% url 'bloquear_desbloquear_direccion' direccion.id_direccion %}">Desbloquear</a>
            </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No hay direcciones bloqueadas</td>
        </tr>
    {% endfor %}
</table>