<h2>Panel SECPLA</h2>
</hr>
<a href="{% url 'main_usuario' %}">Gestión de Usuarios</a>
<br>
<a href="{% url 'main_direccion' %}">Gestión de Direcciones</a>
<br>
<a href="{% url 'main_departamento' %}">Gestión de Departamentos</a>
<br>
<a href="{% url 'main_cuadrilla' %}">Gestión de Cuadrillas</a>
<br>
<a href="{% url 'encuesta_list' %}">Gestión de Encuestas</a>
<br>
<a href="{% url 'incidencia:main_tipo_incidencia' %}">Gestión de Tipos de Incidencia</a>
<br>
<a href="{% url 'incidencia:incidencia_list_secpla' %}">Gestión de Incidencias</a>
<br>
<br>
<br>
<a href="{% url 'home' %}">Cerrar Sesión</a>