{% extends "core/base.html" %}
{% load static %}

{% block title %}Gestión Tipo de Incidencias{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Gestión Tipo de Incidencias</h2>
    <hr>

    <div class="d-flex flex-column align-items-start gap-3">
        <a href="{% url 'incidencia:tipo_incidencia_create' %}" class="btn btn-info text-white">
            Crear Tipo de Incidencia
        </a>

        <a href="{% url 'incidencia:tipo_incidencia_list' %}" class="btn btn-info text-white">
            Ver listado de los Tipos de Incidencia
        </a>
    </div>
</div>
{% endblock %}