{% extends "core/base.html" %}

{% block content %}

<h2 class="mb-4">Asignar Encargado al Departamento: {{ departamento.nombre_dpto }}</h2>

<form method="post" action="{% url 'asignar_encargado' id_departamento=departamento.id %}" class="mb-3">
    {% csrf_token %}

    <div class="mb-3">
        <label for="usuario" class="form-label">Seleccione un usuario:</label>
        <select name="usuario" id="usuario" class="form-select" required>
            <option value="">-- Seleccione --</option>
            {% for u in usuarios %}
                <option value="{{ u.id }}">{{ u.username }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Asignar</button>
    <a href="{% url 'main_departamento' %}" class="btn btn-secondary ms-2">Volver a la lista</a>
</form>

{% endblock %}