<!DOCTYPE html>
<html lang="es">
{% extends "core/base_login.html" %}
{% load static %}

{% block title %}Nueva Contraseña{% endblock %}

{% block content %}
<div class="row">
  <form class="login-form" method="post">
    
    <div class="col-12 mt-n12 text-center mb-4">
      <a>
        <img alt="Logo" src="{% static 'core/images/LOGO_MUNICIPALIDAD.png' %}" style="width:70%;height: 50%;">
      </a>
      <h4>Ingresa tu Nueva Contraseña</h4>
    </div>

    {% csrf_token %}

    {% if validlink %}
        <p class="text-muted text-center">Por favor, ingresa tu nueva contraseña dos veces.</p>

        {% if form.new_password1.errors %}
            <p style="color:red">{{ form.new_password1.errors|striptags }}</p>
        {% endif %}
        <div class="col-12 mt-2">
            <input type="password" name="new_password1" class="form-control" required="" id="id_new_password1" placeholder="Introduce la nueva contraseña">
        </div>

        {% if form.new_password2.errors %}
            <p style="color:red">{{ form.new_password2.errors|striptags }}</p>
        {% endif %}
        <div class="col-12 mt-2">
            <input type="password" name="new_password2" class="form-control" required="" id="id_new_password2" placeholder="Repite la nueva contraseña">
        </div>

        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary form-control">
                <span>Cambiar mi contraseña</span>
            </button>
        </div>
    {% else %}
        <p class="text-danger text-center">
            Este enlace de restablecimiento ya no es válido. Es posible que ya se haya usado o que haya expirado.
        </p>
        <div class="col-12 mt-4 text-center">
            <a href="{% url 'password_reset' %}">Solicitar un nuevo enlace</a>
        </div>
    {% endif %}

  </form>
</div>
{% endblock %}