<!DOCTYPE html>
<html lang="es">
{% extends "core/base_login.html" %}
{% load static %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="row">
  <form class="login-form" action="" method="post">
    
    <div class="col-12 mt-n12 text-center mb-4">
      <a>
        <img alt="Logo" src="{% static 'core/images/LOGO_MUNICIPALIDAD.png' %}" style="width:70%;height: 50%;">
      </a>
      <h4>Restablecer Contraseña</h4>
    </div>

    {% csrf_token %}

    <div class="col-12 mt-2 text-center">
        <p class="text-muted">Ingresa tu correo y te enviaremos un enlace para reestablecerla.</p>
    </div>

    {% if form.email.errors %}
      <div class="col-12 mt-2">
        <p style="color:red">{{ form.email.errors|striptags }}</p>
      </div>
    {% endif %}
    {% if form.non_field_errors %}
        <div class="col-12 mt-2">
          <p style="color:red">Error. Asegúrate de que el correo existe.</p>
        </div>
    {% endif %}

    <div class="col-12 mt-2">
      <input type="email" class="form-control" name="email" maxlength="254" required="" id="id_email" placeholder="Introduce tu email"/>
    </div>

    <div class="col-12 mt-2">
      <button type="submit" class="btn btn-primary form-control">
        <span class="text-white">Confirmar</span>
      </button>
    </div>

    <div class="col-12 mt-2 text-end">
      <a href="{% url 'login' %}">Volver al inicio</a>
    </div>

  </form>
</div>
{% endblock %}