<!DOCTYPE html>
<html lang="es">
{% extends "core/base_login.html" %}
{% load static %}

{% block title %}Contraseña Cambiada{% endblock %}

{% block content %}
<div class="row">
  <form class="login-form"> <div class="col-12 mt-n12 text-center mb-4">
      <a>
        <img alt="Logo" src="{% static 'core/images/LOGO_MUNICIPALIDAD.png' %}" style="width:70%;height: 50%;">
      </a>
      <h4>¡Contraseña Cambiada!</h4>
    </div>

    <div class="col-12 mt-2 text-center">
        <p class="text-muted">
            Tu contraseña ha sido cambiada con éxito.
        </p>
    </div>

<div class="col-12 mt-4">
        <a href="{% url 'login' %}" class="btn btn-primary form-control text-white">
            Ir a Iniciar Sesión
        </a>
    </div>

  </form>
</div>
{% endblock %}